<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <script defer src="https://kit.fontawesome.com/b1df904c6f.js" crossorigin="anonymous"></script>
    <%- style %>
</head>

<body>


    <%- body %>

        <%- script %>
</body>

</html>